In [7]:
import pandas as pd
from textblob import TextBlob

In [8]:
data = pd.read_csv("final_review.csv", names = ["text"])
data.head()

                                               text
0                                     Aswome Camera
1                                  excellent camera
2  Fabulous Camera performance in this price range.
3                         ❤️ Shot on 7pro  ultimate
4                   value for money....worth buying

In [9]:
data.shape

(7917, 1)

In [13]:
import re

In [19]:
temp = []
positive_review = 0
negative_review = 0
neutral_review = 0
for texts in data.text:
    
   # texts=re.sub('[^ a-zA-Z0-9]','',str(texts))
    
    polarity = TextBlob(str(texts)).sentiment.polarity
    #print(polarity)
    
    if( polarity > 0.33):
        temp.append(1)    
        positive_review +=1
    elif( polarity < -0.33):
        temp.append(-1)
        negative_review +=1
    else:
        temp.append(0)
        neutral_review +=1

data["sentiment"] = temp

print(positive_review)
print(negative_review)
print(neutral_review)

5816
139
1962

In [21]:
data.tail()

                                     text  sentiment
7912                            very good          1
7913                                 Best          1
7914  Excellent product @ excellent price          1
7915                            Excellent          1
7916                   Worth every penny.          0